.card {
    width: 60%;
    border-bottom: var(--border-style);
    padding: 3%;
    font-family: var(--main-font);
    transition: all 0.5s;
}

.card:hover,
.poster:hover{
    transform: scale(110%);
}

.card__button {
    font-family: var(--main-font);
}


/* White/Grey */

.white__background {
    background-color: whitesmoke;
}
.grey__background {
    background-color: lightgrey;
}

/* Left/Right */

.card__right {
    align-self: flex-end;
}

.card__left {
    align-self: flex-start;
}



/* Form Cards */

/* Table Card */

.card_with_table:hover {
    transform: scale(100%);
}

/* Image Card */

/* Poster */

.poster {
    background-image: url("../images/banner.png");
    background-size: cover;
    background-position: center;
    display: block;
    width: 60%;
    aspect-ratio: 3 / 2;
    min-height: 200px;
    border: var(--border-style);
    transition: all 0.5s;
}