:root {
    --main-colour: rgb(232, 232, 49);
    --main-font: 'Josefin Sans', sans-serif;
    --border-style: 20px solid black;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--main-colour);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto
}

.card__image {
    max-width: 100%;
}