:root {
    --main-colour: rgb(186, 186, 46);
    --main-font: 'Josefin Sans', sans-serif;
    --border-style: 20px solid black;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--main-colour);
}

h1,
h2,
p {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
    line-height: 1.5;
}

.card__image {
    max-width: 100%;
}