header {
    margin: 5vh 9vw 2vh;
}

.header__logo {
    display: flex;
    background-color: yellow;
    padding: 3%;
    border-width: 14px;
    border-style: solid;
    border-color: black;
    justify-content: center;
    margin-bottom: 0;
}

.header__logo__img {
    filter: invert(100%);
}