header {
    margin: 5vh 9vw 2vh;
}

.header__logo {
    display: flex;
    background-color: var(--main-colour);
    padding: 3%;
    border: var(--border-style);
    justify-content: center;
    margin-bottom: 0;
}

.header__logo__img {
    filter: invert(100%);
}