.header__nav {
    display: flex;
    justify-content: right;
    margin: 0;
}

.header__nav__list {
    list-style: none;
    display: flex;
    gap: 2vw;
    padding: 0;
    margin: 0;
    background-color: var(--main-colour);
}

.header__nav__item {
    font-family: var(--main-font);
    font-size: 1.5rem;
    padding: 15px;
}

.header__nav__link {
    text-decoration: none;
    color: black;
}

.selected {
    background-color: black;
}

.selected .header__nav__link {
    color: var(--main-colour);
}